.button{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--info-button-color);
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.button svg{
    color: white;
    font-size: 10px;
}

.primary-color{
    background-color: var(--primary-color);
}

.button:hover{
    background-color: var(--info-button-hover-color);
}

.primary-color:hover{
    background-color: var(--primary-hover-color);
}

.red-color{
    background-color: var(--red-color);
}

.red-color:hover{
    background-color: var(--red-hover-color);
}