.input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input input, .input select{
    outline: none;
}

.primary_color input{
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.primary_color input:hover{
    background-color: var(--primary-hover-color);
}