.icon_text{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.icon_text svg{
    color: var(--primary-color);
}

.icon_text h2{
    margin: 0;
}

.empty{
    color: grey;
}