.card{
    border: 1px solid lch(from var(--grey-color) calc(l + 20) c h);
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 15px;
    border-radius: 5px;
}

.small_size{
    width: 25%;
}

.medium_size{
    width: 45%;
}

.large_size{
    width: 100%;
}

.title{
    font-size: 1.2em;
}

.subtitle{
    font-size: 0.9em;
    color: var(--grey-color);
}

.desc{
    font-size: 1em;
}

.control{
    display: flex;
    gap: 10px;
}