.page_button{
    padding: 5px 8px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;   
}

.active{
    transition: .3s;
    background-color: var(--primary-color);
    color: white;
}