.option{
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-right: 1px solid var(--grey-color);
    border-bottom: 1px solid var(--grey-color);
    border-left: 1px solid var(--grey-color);
    cursor: pointer;
    padding: 5px 10px;
}

.option:hover{
    background-color: var(--grey-color);
}

.option:first-child{
    border-radius: 5px 5px 0 0;
    border-top: 1px solid var(--grey-color);
}

.option:last-child{
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid var(--grey-color);
}