:root{
    --primary-color: rgb(0, 187, 0);
    --primary-hover-color: lch(from var(--primary-color) calc(l - 20) c h);
    --info-button-color: #00a2ff;
    --info-button-hover-color: lch(from var(--info-button-color) calc(l - 20) c h);
    --grey-color: #bbbbbb;
    --red-color: red;
    --red-hover-color: lch(from var(--red-color) calc(l - 20) c h);
}